package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 *
 * $!{table.comment}
 *
 * Created by ${author} on  ${date}.
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {
	
}
